body{
    background-image: url("bakrund.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* background-attachment: fixed;
    background-position: center; */
}
#container2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#container3{
    grid-area: 1/1/4/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
#container4{
    grid-area: 1/1/3/2;
    background-image: url("paper.jpg");
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 20%);
    border: solid 5px black;
}
#container5{
    grid-area: 4/1/6/2;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    border: solid 5px red;
}
#container5 > h2{
    margin: 0;
}
#container{
    grid-area: 1/2/3/5;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}
.form > p {
    margin: 1px;
} 
.kort{
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 5% repeat(6, 1fr) 5%;
    height: 350px;
    width: 200px;
    background-image: url("paper.jpg");
    border: solid 5px black;
    border-radius: 15px;
}
.overskrift{
    border: solid 5px black;
    grid-area: 2/2/5/3;
    background-color: white;
    border-radius: 15px;
}
.kort:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.overskrift:hover{
    transform: scale(1);
    cursor: pointer;
}

.overskrift > p{
    padding: 1px;

}
.overskrift > h2{
    padding: 1px;
    font-size: medium;

}
#matbeskrivelsen{
    grid-area: 5/2/7/3;
}
table{
    border: 5px solid black;
}
#kort_1{
    background-image: url("image.png");
}